:root{
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%);
}


/* name */
.titulos{
    font-size: 3rem;
    margin-bottom: .5rem;
}
.paragraph{
    font-size: 2rem;
    font-weight: 300;
    --clippy:circle(0% at 50% 50%)
}

/* item */
.efecto{
    position: relative;
    padding-left: 1rem;
    
}
/* item before */
.efecto::before{
    content: "hola";
    display: block;
    background: slateblue;
    width: 120%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: var(--clippy);
    transition: clip-path 2s;
}
.paragraph::before{
background: blue;

}
.titulos:hover::before{
    clip-path: polygon(0 0, 86% 0, 99% 100%, 0 100%);

}

.efecto:hover + .paragraph::before{
    clip-path: circle(150% at 50% 50%);
    /* transition: clip-path 1.5s 2s; */
}
